<!-- About Section -->
<div id="about" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">About Me</h2>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
    	
        <!-- Start Profile -->
    	<div class="span3 profile">
        	<div class="image-wrap">
                <img src="include/img/profile/profile-01.jpg" alt="Jiri Hnidek">
            </div>
        </div>

        <div class="span5">
            <h3 class="profile-name">Jiri Hnidek</h3>
            <p class="profile-description">
            I work as software engineer in <a href="http://www.redhat.com">Red Hat</a> since 2017. I have worked at <a href="http://www.tul.cz">Technical University of Liberec</a> at position Research and Teaching Fellow since 2005. I received Ph.D title in 2010 for dissertation work: Network Protocols for Graphical Applications. My research is focused on network protocols and computer graphics.
            </p>
            <div class="social">
                <ul class="social-icons">
                        <li><a href="https://twitter.com/jirihnidek" title="Follow Me on Twitter" target="_blank"><span class="fa fa-twitter solo"></span></a></li>
                        <li><a href="https://plus.google.com/+jirihnidek/posts" title="Follow Me on Google Plus" target="_blank"><span class="fa fa-google-plus solo"></span></a></li>
                        <li><a href="http://www.linkedin.com/in/jirihnidek" title="Follow Me on LinkedIn" target="_blank"><span class="fa fa-linkedin solo"></span></a></li>
                        <li><a href="http://github.com/jirihnidek" title="Follow Me on GitHub" target="_blank"><span class="fa fa-github solo"></span></a></li>
                        <li><a href="http://instagram.com/jirihnidek" title="Follow Me on Instagram" target="_blank"><span class="fa fa-instagram solo"></span></a></li>
                </ul>
            </div>

        </div>

        <div class="span4">
            <div class="contact-details">
                <h3>Contact Details</h3>
                <ul>
                    <li>e-mail: <a href="mailto:jiri.hnidek@gmail.com">jiri.hnidek@gmail.com</a></li>
                    <li>
                        Technical University of Liberec
                        <br>
                        Studentska 2
                        <br>
                        Liberec 1, 461 17
                        <br>
                        Czech Republic
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->
