
<!-- Home Section -->
<div id="home" class="page" style="background-image: url('include/img/jizerske_mountains.jpg'); background-repeat: no-repeat; background-size: cover; background-position: 50% 0%;">
    <div class="container">
        <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Jiri Hnidek</h2>
                    <h3>C, Python, Network, CG and Lot of White Space</h3>
                </div>
            </div>
        </div>
    </div>
</div>
