<!-- Presentation Section -->
<div id="presentations" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">My Presentations</h2>
                <h3 class="title-description">My presentations from <a href="http://www.tul.cz">Technical University of Liberec</a>.</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 style="margin-left: 30px;">Computer Graphics <span style="font-size: 75%">(Czech language)</span></h2>
        <div class="span6">
            <h3 class="spec"><a href="/presentations/cg_human_vision_color_models.html">CG - Color Models</a></h3>
            <h3 class="spec"><a href="/presentations/cg_file_formats.html">CG - File Formats</a></h3>
            <h3 class="spec"><a href="/presentations/cg_image_transformation.html">CG - Image Transformations</a></h3>
            <h3 class="spec"><a href="/presentations/cg_3D_models.html">CG - 3D Models</a></h3>
            <h3 class="spec"><a href="/presentations/cg_render_pipeline.html">CG - Render Pipeline</a></h3>
            <h3 class="spec"><a href="/presentations/cg_webgl.html">CG - WebGL</a></h3>
            <h3 class="spec"><a href="/presentations/cg_three-js.html">CG - Three.js</a></h3>
        </div>
        <div class="span6">
            <h3 class="spec">CG - OpenGL ( TODO )</h3>
            <h3 class="spec">CG - Shaders ( TODO )</h3>
            <h3 class="spec"><a href="/presentations/cg_parametric_curves.html">CG - Parametric Curves</a></h3>
            <h3 class="spec"><a href="/presentations/cg_parametric_surfaces.html">CG - Parametric Surfaces</a></h3>
            <h3 class="spec">CG - Photorealistic rendering ( TODO )</h3>
            <h3 class="spec">CG - Animation ( TODO )</h3>
            <h3 class="spec">CG - Virtual Reality ( TODO )</h3>
        </div>
    </div>

    <hr>

    <div class="row">
        <h2 style="margin-left: 30px;">Unix &amp; Internet <span style="font-size: 75%">(Czech language)</span></h2>
        <div class="span6">
            <h3 class="spec"><a href="/presentations/unix_internet_network_introduction.html">Network Introduction</a> </h3>
            <h3 class="spec"><a href="/presentations/unix_internet_sockets.html">Unix &amp; Sockets</a></h3>
            <h3 class="spec"><a href="/presentations/unix_internet_TLS.html">Unix &amp; SSL &amp; TLS</a></h3>
            <h3 class="spec"><a href="/presentations/unix_internet_docker.html">Linux &amp; Docker</a></h3>
            <h3 class="spec"><a href="/presentations/unix_internet_e-mail.html">Linux &amp; E-mail</a></h3>
        </div>
        <div class="span6">
            <h3 class="spec"><a href="/presentations/unix_internet_nics.html">Unix &amp; NICs</a></h3>
            <h3 class="spec"><a href="/presentations/unix_internet_security.html">Unix &amp; Security</a></h3>
            <h3 class="spec"><a href="/presentations/unix_internet_firewall.html">Unix &amp; Firewalls</a></h3>
            <h3 class="spec"><a href="/presentations/unix_internet_web_servers.html">Unix &amp; Web Servers</a></h3>
        </div>
    </div>

    <hr>

    <div class="row">
        <h2 style="margin-left: 30px;">Python <span style="font-size: 75%">(Czech language)</span></h2>
        <div class="span6">
            <h3 class="spec"><a href="/presentations/python_cpp.html">Python &amp; C/C++</a></h3>
        </div>
    </div>

    <!-- End Title Page -->
</div>
</div>
