<!-- Presentation Section -->
<div id="presentations" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">My Presentations</h2>
                <h3 class="title-description">My presentations from <a href="http://www.tul.cz">Technical University of Liberec</a>.</h3>
            </div>
        </div>
    </div>

    <div class="row">
    	<div class="span6">
    		<h3 class="spec"><a href="/presentations/cg_human_vision_color_models.html">CG - Color Models</a> ( Czech language )</h3>
    		<h3 class="spec"><a href="/presentations/cg_image_transformation.html">CG - Image Transformations</a> ( Czech language ) </h3>
    		<h3 class="spec"><a href="/presentations/cg_3D_models.html">CG - 3D Models</a> ( Czech language )</h3>
    		<h3 class="spec"><a href="/presentations/cg_parametric_curves.html">CG - Parametric Curves</a> ( Czech language )</h3>
    	</div>
    	<div class="span6">
            <h3 class="spec">CG - Parametric Surfaces ( TODO )</h3>
    		<h3 class="spec">CG - Render Pipeline ( TODO )</h3>
    		<h3 class="spec">CG - Photorealistic rendering ( TODO )</h3>
    		<h3 class="spec"><a href="/presentations/cg_file_formats.html">CG - File Formats</a> ( Czech language ) </h3>
    	</div>
    </div>

    <hr>

    <div class="row">
        <div class="span6">
            <h3 class="spec"><a href="/presentations/python_cpp.html">Python &amp; C/C++</a> ( Czech language )</h3>
        </div>
    </div>

    <hr>
    
    <div class="row">
        <div class="span6">
            <h3 class="spec"><a href="/presentations/unix_internet_sockets.html">Unix &amp; Sockets</a> ( Czech language )</h3>
        </div>
    </div>
    <!-- End Title Page -->
</div>
</div>