<!-- My Project Section -->
<div id="my_projects" class="page-alternate">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">My Projects</h2>
                    <h3 class="title-description">Check Out My Projects at <a href="https://github.com/jirihnidek">GitHub</a>.</h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <!-- Start Toggle Section -->
        <div class="row">

            <!-- Start left column -->
            <div class="span6">

                <h3 class="spec">C/C++</h3>
                
                <!-- Start C/C++ Projects -->
                <div class="accordion" id="toggleArea">
                
                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#VerseProject">
                                Verse
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="VerseProject" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="https://github.com/verse/verse">Verse</a> 2.0 is network protocol for real-time sharing of 3D data. It is intended mostly for graphical applications of collaborative virtual reality. It could be used for sharing data between applications like <a href="http://www.blender.org">Blender</a>
                            </div>
                        </div>
                    </div>
  
                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#VerseExplorer">
                                Verse Explorer
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="VerseExplorer" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="https://github.com/verse/verse-explorer">Verse Explorer</a> is Qt based Verse client used for managing shared data. It can be used for exploring sharing data. It can be used for basic managing of shared data. It means that it is possible to create, modify and delete shared nodes, tag groups, tags, layers, etc.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#VerseParticles">
                                Verse Particles
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="VerseParticles" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="https://github.com/jirihnidek/verse-particles">Verse Particles</a> contains Verse client application used for testing Verse protocol. This aplication could run in two modes. First mode (sender) is used for sending particle system to Verse server. The sender should run on the same machine as Verse server. The second mode of Verse client (receiver) receives particle data from Verse server over unreliable network. It uses verse layers for sharing particle position.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#VersePlyUploader">
                                Verse PLY Uploader
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="VersePlyUploader" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="https://github.com/jirihnidek/verse-ply-uploader">Verse PLY Uploader</a> is command line tool that can be used for uploading PLY models to Verse server.
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- End C/C++ Projects-->

                <h3 class="spec">Javascript</h3>
                
                <!-- Start Javascript Projects -->
                <div class="accordion" id="toggleArea">
                
                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#VerseJavascript">
                                Verse Javascript
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="VerseJavascript" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="https://github.com/verse/verse-javascript">Verse Javascript</a> should be Javascript library implementing support for communication with Verse server over WebSocket. Thus it will be possible to write WebGL Verse clients.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End left column -->


            <!-- Start right column -->
            <div class="span6">

                <h3 class="spec">Python</h3>
                
                <!-- Start Python Projects -->
                <div class="accordion" id="toggleArea">
                
                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#VerseBlender">
                                Blender Addon - IO Verse 
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="VerseBlender" class="accordion-body collapse">
                            <div class="accordion-inner">
                            Blender Addon <a href="https://github.com/verse/verse-blender">IO Verse</a> implements basic real-time sharing of Blender 3D data at Verse server. It allows only to share mesh objects at this moment.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#VerseEntities">
                                Verse Entities 
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="VerseEntities" class="accordion-body collapse">
                            <div class="accordion-inner">
                            <a href="https://github.com/verse/verse-entities">Verse Entities</a> is Python module that simplify implementation of Verse clients.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Python Projects -->

                <h3 class="spec">Other</h3>
                
                <!-- Start Javascript Projects -->
                <div class="accordion" id="toggleArea">
                
                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#OtherProjects">
                                Gists
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="OtherProjects" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Various <a href="https://gist.github.com/jirihnidek">Gists</a> aka microprojects and samples of source code.
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="spec">Polished Forks</h3>
                
                <!-- Start Fork Projects -->
                <div class="accordion" id="toggleArea">
                
                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#WSLayProject">
                                WSLay
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="WSLayProject" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="https://github.com/jirihnidek/wslay">WSLay</a> is C library originally written by Tatsuhiro Tsujikawa and it can be used for communication over WebSocket. It can be used for implementation of WebSocket servers and clients. It is used by <a href="https://github.com/verse/verse">Verse</a> server.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#LibRPlyProject">
                                libRPLY
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="LibRPlyProject" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="https://github.com/jirihnidek/librply">RPly</a> is a library originally written by Diego Nehab, that lets applications read and write PLY files. The PLY file format is widely used to store geometric information, such as 3D models, but is general enough to be useful for other purposes.
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Fork Projects -->

            </div>
            <!-- Start left column -->
        </div>
        <!-- End Accordion/Toggle Section -->
    </div>
</div>
<!-- End My Project Section -->
